[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "==1.2.0"
msgpack-python = "==0.4.8"
msgpack-rpc-python = "==0.4.1"
fibers = "*"

[requires]
python_version = "3.6"
